:root,[data-theme="light"] {
  --fg-color: black;
  --bg-color: white;

  --pastel-yellow: #f3d250;
  --pastel-pink: #f4a8ae;
  --pastel-blue: #a4c2f4;
  --pastel-green: #92d7c2;
  --pastel-orange: #fcab85;
  --pastel-purple: #d9b3e2;
  --pastel-red: #f45d55;

   --nav-bg: #eee;
   --post-linkfg: #333;
}

[data-theme="dark"] {
    --fg-color: white;
    --bg-color: black;

    --pastel-yellow: #d2ae1d;
    --pastel-pink: #e1969c;
    --pastel-blue: #295aac;
    --pastel-green: #1bbb8al;
    --pastel-orange: #e87139;
    --pastel-purple: #9e52b0;
    --pastel-red: #ca3c35;

    --nav-bg: #313030;
    --post-linkfg: white;
}

[data-theme="light"] .github-icon {
    background-image: url('/static/images/github_icon-light.png');
    height:2em;
    width:2em;
    background-repeat:no-repeat;
    background-size:contain;
}

[data-theme="dark"] .github-icon {
    background-image: url('/static/images/github_icon-dark.png');
    height:2em;
    width:2em;
    background-repeat:no-repeat;
    background-size:contain;
}

a.github-link {
  margin-top:.5em;
}

[data-theme="light"] .theme-icon {
    height:1em;
    width:1em;
    background-image: url('/static/images/icon-light.png'); /* Sun */
    background-repeat:no-repeat;
    background-size:contain;
}

[data-theme="dark"] .theme-icon {
    height:1em;
    width:1em;
    background-image: url('/static/images/icon-dark.png'); /* Moon */
    background-repeat:no-repeat;
    background-size:contain;
}
.theme-icon {
 background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
 }
body,html {
    background-color: var(--bg-color);
    color: var(--fg-color);
}
/* Pastel color highlighting */

.highlight-yellow {
  background-color: var(--pastel-yellow);
  padding: .3em .3em;
  display: inline;
}

.highlight-pink {
  background-color: var(--pastel-pink);
  padding: .3em .3em;
  display: inline;
}

.highlight-blue {
  background-color: var(--pastel-blue);
  padding: .3em .3em;
  display: inline;
}

.highlight-green {
  background-color: var(--pastel-green);
  padding: .3em .3em;;
  display: inline;
}

.highlight-orange {
  background-color: var(--pastel-orange);
  padding: .3em .3em;
  display: inline;
}

.highlight-purple {
  background-color: var(--pastel-purple);
  padding: .3em .3em;
  display: inline;
}

.highlight-red {
  background-color: var(--pastel-red);
  padding: .3em .3em;
  display: inline;
}
.bg-yellow {
background-color: var(--pastel-yellow);
}
.bg-pink {
background-color: var(--pastel-pink);
}
.bg-blue {
background-color: var(--pastel-blue);
}
.bg-green {
background-color: var(--pastel-green);
}
.bg-orange {
background-color: var(--pastel-orange);
}
.bg-purple {
background-color: var(--pastel-purple);
}
.bg-red {
background-color: var(--pastel-red);
}

/*Simple Font Rule*/
.reddit-mono-basic {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.post-link p {
  text-align: left;
  margin-top:0;
}

.post-link {
  color: #000;
  text-decoration: none;
}

.post-link:hover {
  text-decoration: underline;
}

.post-link:active,
.post-link:focus {
  color: var(--post-fg);
}

#selected-post {
  margin-top: .5em;
  list-style-type: none;
}

#curated-header {
  font-size: 140%;
  margin-left: .1em;
  margin-bottom: .2em;
}

#foot {
  display: flex;
  align-items: left;
}

#foot p {
  padding-right: 1em;
  /*Space btwn para and link*/
}

.spacer {
  margin-bottom: 2em;
}
.double-spacer {
    margin-bottom:2em;
    margin-top:2em;
}

.medium-margin {
  margin: 1.5em;
}

#go-home a {
  color: blue;
  text-decoration: none;
  transition: color 0.3s ease;
}

#go-home a:hover {
  color: var(--pastel-pink);
  text-decoration: underline;
}

.issue {
  font-style: italic;
  padding-right: 1em;
}

/*Nav Styling*/

#navigator {
  background-color: var(--nav-bg);
  padding: .75em;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigator a {
  color: #333;
  text-decoration: none;
  padding: .6em;
}

#navigator a:hover {
  background-color: var(--pastel-orange);
}

#navigator a:active {
  background-color: gray;
}

#navigator a:link,
#navigator a:visited {
  color: inherit;
}

#navigator a.active {
  font-weight: bold;
  color: inherit;
}

/*Sub Form Styling*/
.subreddit-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group {
  margin-bottom: 0.5rem;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
}

.curated-button {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
  font-family: "Reddit Mono", monospace;
  border-radius: .8em;
  color: black;
}

.curated-button:hover {
  background-color: var(--fg-color);
  /* Slightly darker background */
}


.post-link {
  margin: .7em;
  padding: .7em;
  text-align: center;
  color: var(--post-linkfg);

}

.post-link a {
  text-decoration: none;
  text-align: center;
  color: darkgray;
}

.post-link a:link,
.post-link a:visited {
  color: inherit;
}

.post-container .post-link {
    margin:0;
    padding:0;
}
.post-text {
  font-size: 90%;
  text-decoration: none;
  padding: 1em;
}

#navigator a:active {
  color: darkblue;
}

.additional-posts a:hover {
  background-color: var(--pastel-green);
}
.post-flair {
    font-style:italic;
    text-align:center;
}
.post-image {
    max-width:30em;
    max-height:30em;
}
.user-pfp {
    height:5em;
    border-radius:1em;
}

.upvote-img {
    height:1em;
}
.smaller-text {
  font-size: 80%;
}
.small-left-pad {
  padding-left: 1em;
}
.no-vertical-margin {
  margin-top:0;
  margin-bottom:0;
}
.content-center {
    text-align:center;
    align-content:center;
}