{% extends 'base.html' %}

{% block title %}Ladle Home {% endblock %}

{% block body %}
 <script>0</script> <!--https://stackoverflow.com/questions/21147149/flash-of-unstyled-content-fouc-in-firefox-only-is-ff-slow-renderer-->
<div class="content-center">
  <h1> Ladle Mainframe </h1>
  <p class="highlight-purple">{{date}} </p>&nbsp;|
  <p class="highlight-yellow"><span>Discover curated posts, browse specific subreddit groups, and more!</span></p>
</div>
<div class="spacer"></div>
<div id="posts">
  <p class="highlight-blue" id="curated-header">Curated Posts</p>
  <ul class="small-left-pad no-vertical-margin">
    {% for post in loadedPosts %}
    <li id="selected-post">
      <a href="/post/{{post[-1]}}" class="post-link">
        <p class="no-vertical-margin"><b>{{post[0]}}</b> {{post[1]}} </p>
      </a>
      <div class="icon-container"> <div class="up-icon small-icon"></div> {{post[3]}} [{{post[2]}}%] | {{post[5]}} comments
      </div>
    </li>
    {% endfor %}
  </ul>
    <div class="post-link additional-posts">
      <a href="/more-posts">Additional Posts</a>
    </div>


</div>
<hr>
<br>
<div id="foot">
  <p> See my GitHub for other projects: </p>
  <a href="https://github.com/pqba" class="github-link" target="_blank">
    <div class="github-icon large-icon"></div>
  </a>
</div>
{% endblock %}