{%extends 'base.html' %}

{% block title %}Ladle Home {% endblock %}

{% block body %}
<div id = "top">
   <h1> Ladle Mainframe </h1>
    <p class ="highlight-purple">{{date}} </p>|
    <p class ="highlight-yellow"><span>Discover curated posts, browse specific subreddit groups, and more!</span></p>
</div>
<div id = "posts">
   <p class="highlight-blue" id="curated-header"><span>Curated Posts</span></p>
   <ul>
     {% for post in loadedPosts %}
       <li id="selected-post">
           <p>{{post[0]}}: {{post[3]}} {{post[1]}} [{{post[2]}}]</p>
         <a href="{{ post[-1] }}">Read More</a>
       </li>
     {% endfor %}
   </ul>
</div>
<hr>
<br>
<div id ="foot">
   <p> See my GitHub for other projects: </p>
   <a href="https://github.com/pqba" class="github-link" target="_blank">
   <img src="../static/github_icon.png" alt="GitHub" class="github-img">
   </a>
</div>
{% endblock %}
