{%extends 'base.html' %}

{% block title %} Ladle Form {% endblock %}

{% block body %}
<div id = "top">
   <h1> Ladle Subreddit List </h1>
    <p class ="highlight-orange"><span>Specify which subreddits you wish to view with this form.</span></p>
</div>
<div class = "subreddit-form twenty-margin">
    <form method="POST" action="{{url_for('get_subs')}}"></form>
    <label for="sub_1">First Subreddit:</label>
    <input type="text" id="sub_1" name="sub_1" autocomplete="off" required>
    <br>
    <label for="sub_2">Second Subreddit:</label>
    <input type="text" id="sub_2" name="sub_2" autocomplete="off" required>
    <br>
    <label for="sub_3">Third Subreddit:</label>
    <input type="text" id="sub_3" name="sub_1" autocomplete="off" required>
    <br>
    <label for="sub_4">Fourth Subreddit:</label>
    <input type="text" id="sub_4" name="sub_1" autocomplete="off" required>
    <br>
    <label for="sub_5">Fifth Subreddit:</label>
    <input type="text" id="sub_5" name="sub_1" autocomplete="off" required>
    <br>
    </form>
</div>

{% endblock %}
