{% extends 'base.html' %}
{% block title %} Ladle r/{{subreddit.name}} {% endblock %}

{% block body %}
<div class="subreddit-container">
    <div class="subreddit-search-form">
        <form action="/subreddit/{{ subreddit.name }}/search" method="POST"  autocomplete="off">
        <input type="text" name="sub_search" class="subreddit-input-search medium-margin smaller-text" placeholder="Query..." required/>
              <button type="submit" class="curated-button smaller-text">Search</button>
        </form>
    </div>
    <div class="subreddit-top">
        <h2>r/{{subreddit.name}}{% if subreddit.nsfw == true %}
            <img src="/static/images/warning.svg" height="24px" /> <!--TODO: fix px-->
            {% endif %}
        </h2>
        {% if 'subtitle' in extra and extra.subtitle != "" %}
        <p class="smaller-text">{{ extra.subtitle }}</p>
        {% endif %}
        {% if 'icon' in extra and extra.icon != "" %}
        <img class="subreddit-icon" src="{{ extra.icon }}"/>
        {% elif 'cm_icon' in extra and extra.cm_icon != "" %}
        <img class="subreddit-icon" src="{{ extra.cm_icon }}"/>
        {% endif %}
        {% if 'category' in extra and extra.category != "" %}
        <p class="smaller-text highlight-red">Category: {{extra.category}}</p>
        {% endif %}

    </div>
    <div class="subreddit-info medium-margin">
    <p class="highlight-purple">{{subreddit.subs}} subscribers</p>
        {% if 'active' in extra and extra.active != 0  %}
         |&nbsp;<p class="highlight-green">{{extra.active}} online</p>
        {% endif %}

    <p class="smaller-text">Created on {{subreddit_created}}</p>
    <img src="{{ subreddit_bg }}">
    <img src="{{ subreddit_icon }}">
        <hr>
    <p><b>Description: </b>{{subreddit.desc}}</p>
        <h2 class="highlight-blue"><b>About</b></h2>
        <div class="md-text">{{ subreddit.full_desc | safe }}</div>
    </div>

</div>
{% endblock %}