{% extends 'base.html' %}
{% block title %} Ladle Search r/{{ search.sub }} {% endblock %}
{% block body %}
<div class="sub-search-container">
  <div>
<a href="/subreddit/{{ search.sub }}" class="post-link content-left"><h2 class="no-vertical-margin"><b>r/{{ search.sub }}</b></h2></a>
  <form action="/subreddit/{{ search.sub }}/search" method="POST" class="subreddit-search-form" autocomplete="off">
     <input type="text" name="sub_search" class="subreddit-input-search medium-margin smaller-text" placeholder="Query..." required/>
     <label for="time">Time: </label>
      <select name="time-choose" id="time" class="time-selector">
        <option value="dy">Day</option>
        <option value="wk">Week</option>
        <option value="mo" selected="selected">Month</option>
        <option value="yr">Year</option>
        <option value="al">All</option>
      </select>
  </form>
    </div>
  <div class="search-content medium-margin">
  <h3 class="highlight-yellow" id="curated-header">Results for <b>"{{ search.q }}"</b></h3>
  <ul class="small-left-pad no-vertical-margin">
    {% for result in search.results %}
    <li id="selected-post">
      <a href="/post/{{ result[0] }}" class="post-link">
        <p>{{ result[3] }} </p>
      </a>
      <div class="icon-container"><div class="up-icon"></div> {{ result[1] }} | {{ result[2] }} comments | &nbsp;Posted {{ result[4] }} </div>
    </li>
    {% endfor %}
  </ul>
    <!--Incorrect link.-->
    <div class="post-link additional-posts">
      <a href="/more-posts">Additional Results</a>
    </div>
      </div>
  </div>
{% endblock %}
