{% extends 'base.html' %}
{% block title %} Ladle r/{{subreddit.name}} {% endblock %}

{% block body %}
<div class="subreddit-container">
    <div class="subreddit-top">
        <h2>r/{{subreddit.name}}{% if subreddit.nsfw == true %}
            <img src="/static/images/warning.svg" height="24px" />
            {% endif %}
        </h2>

    </div>
    <div class="subreddit-info medium-margin">
    <p class="highlight-purple">{{subreddit.subs}} subscribers</p>

    <p class="smaller-text">Created on {{subreddit_created}}</p>
    <img src="{{ subreddit_bg }}">
    <img src="{{ subreddit_icon }}">
    <p><b>Description: </b>{{subreddit.desc}}</p>
    </div>

</div>
{% endblock %}