{% extends 'base.html' %}
{% block title %} Ladle u/{{person.who}} {% endblock %}

{% block body %}
<div class="user-container">
    <h2>u/{{person.who}}</h2>
    <img src="{{ person_icon }}" class="user-pfp" />
    <p class="user-karma highlight-green"> <b>Karma:</b> {{person.l_karma}} for posts | {{person.c_karma}} for comments
    </p>
    <p>Account created <span class="highlight-orange">{{person_made}}</span> </p>
    <div class="double-spacer"></div>
    <div class="medium-margin">
        <h3 class="no-vertical-margin">Recent Posts</h3>
        <ul class="small-left-pad no-vertical-margin">
            {% for post in person.posts %}
            <li id="selected-post">
                <a href="/post/{{ post[0] }}" class="post-link">
                    <p class="no-vertical-margin"><b>{{ post[3] }}</b></p>
                </a>
                <div class="icon-container"><div class="up-icon small-icon"></div>{{ post[1] }} | {{ post[2] }}
                comments</div>
            </li>
            {% endfor %}
        </ul>
        <h3>Recent Comments</h3>
            {% for comment in person.comments %}
            <div class="smaller-text spacer">
                <a href="/post/{{ comment[3] }}" class="post-link">{{ comment[1] }}</a>  
              <div class="icon-container">  <div class="up-icon small-icon"></div>{{ comment[2] }}</div>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}